@import 'tailwindcss';
:root {
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@layer utilities {
  .font-pretendard {
    font-family:
      BlinkMacSystemFont,
      -apple-system,
      Roboto,
      Pretendard,
      'Noto Sans KR',
      'Segoe UI',
      sans-serif;
  }
}
