@import 'tailwindcss';
:root {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/PretendardVariable.woff2) format('woff2');
  }
  html {
    font-family: 'Pretendard';
    font-synthesis: none;
  }
  body {
    background-color: #eeedf2;
  }
  button {
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }
}
